.barChart {
    margin: 30px;
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.lineChart {
    margin: 30px;
    grid-column-start: 1;
    grid-row-start: 3;
    padding: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.pieChart {
    margin: 30px;
    grid-column-start: 2;
    grid-row-start: 3;
    padding: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.scatterChart {
    margin: 30px;
    grid-column-start: 2;
    grid-row-start: 2;
    padding: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 1%;
}

.heading {
    grid-column-start: 1;
    grid-row-start: 1;
    text-align: left;
}

.raceContent {
    height: fit-content;
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-columns: auto auto auto;    
    align-content: center;
    align-items: center;
    margin-top: 50px;
  }