@media screen and (min-width: 851px) {

    .raceCard {
        display: grid;
        box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.06);
        margin-left: 80px;
        margin-top: 50px;
        transition: all 150ms ease-in-out;
        text-decoration: none;
        width: 350px;
        height: 350px;
        align-content: space-around;
    }

    .raceDate {
        font-size: 0.8em;
    }
  }
  
  /* If the screen size is 600px wide or less */
  @media screen and (max-width: 850px) {

    .raceCard {
        display: grid;
        box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.06);
        margin-bottom: 20px;
        margin-left: 30px;
        transition: all 150ms ease-in-out;
        text-decoration: none;
    }

    .raceDate {
        font-size: 0.8em;
    }
  }

.raceCard:hover {
    box-shadow: 0px 9px 24px rgba(0, 0, 0, 0.2);
    transition: all 150ms ease-in-out;
    cursor: pointer;
}

.raceName {
    font-weight: 700;
    font-size: 1.2rem;
}

.raceImage {
    width: 200px;
    height: auto;
    margin: auto;
}

/* COLORS */

.data {
    color: #6b76ff;
}

.interests{
    color: #ffe75e;
}

.people {
    color: #ed6663;
}